@model RepairServiceCenterASP.Models.Post

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Подробности</h2>

<div>
    <h4>Должность</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Money)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Money)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PostId">Редактировать</a> |
    <a asp-action="Index">Вернуться назад</a>
</div>
