@using RepairServiceCenterASP.ViewModels
@model PostsViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Должности сотрудников</h2>

<p>
    <a asp-action="Create">Добавить новую должность</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Posts.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posts.FirstOrDefault().Money)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Posts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Money)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PostId">Редактировать</a> |
                    <a asp-action="Details" asp-route-id="@item.PostId">Подробности</a> |
                    <a asp-action="Delete" asp-route-id="@item.PostId">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       class="btn btn-default btn">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       class="btn btn-default btn">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}