@model RepairServiceCenterASP.Models.SparePart

@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Удаление</title>
</head>
<body>
    
<h2>Удаление</h2>

<h3>Вы действительно хотите удалить запчасть "@Model.Name"?</h3>
<div>
    <h4>Запчасть "@Model.Name"</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Functions)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Functions)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RepairedModel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RepairedModel.RepairedModelId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TypeOfFault)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeOfFault.TypeOfFaultId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SparePartId" />
        <input type="submit" value="Удалить" class="btn btn-default" /> |
        <a asp-action="Index">Вернуться назад</a>
    </form>
</div>
</body>
</html>
