@model RepairServiceCenterASP.Models.SparePart

@{
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Подробности</title>
</head>
<body>
    <h2>Подробности</h2>
    <div>
        <h4>Запчасть "@Model.Name"</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Functions)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Functions)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd>
                @Math.Round(Model.Price.Value, 2)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.RepairedModel)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.RepairedModel.RepairedModelId)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TypeOfFault)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TypeOfFault.TypeOfFaultId)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.SparePartId">Редактировать</a> |
        <a asp-action="Index">Вернуться назад</a>
    </div>
</body>
</html>
