@model IEnumerable<RepairServiceCenterASP.Models.SparePart>

@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Запчасти</title>
</head>
<body>
<p>
    <a asp-action="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Functions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RepairedModel.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeOfFault.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Functions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RepairedModel.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfFault.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SparePartId">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.SparePartId">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.SparePartId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
