@model RepairServiceCenterASP.Models.RepairedModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Удаление</h2>

<h3>Вы действительно хотите удалить оборудывание "@Model.Name"?</h3>
<div>
    <h4>Оборудывание @Model.Name</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TechSpecification)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TechSpecification)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Features)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Features)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RepairedModelId" />
        <input type="submit" value="Удалить" class="btn btn-default" /> |
        <a asp-action="Index">Вернуться обратно</a>
    </form>
</div>
