@model RepairServiceCenterASP.Models.Order

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Подробности</h2>

<div>
    <h4>Заказ @Model.DateOrder.ToLongDateString()</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateOrder)
        </dt>
        <dd>
            @Model.DateOrder.ToLongDateString()
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>
        <dd>
            @Model.ReturnDate.ToLongDateString()
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FullNameCustumer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FullNameCustumer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GuaranteeMark)
        </dt>
        <dd>
            @if ((bool)Model.GuaranteeMark)
            {
                <span>Имеется</span>
            }
            else
            {
                <span>Отсутствует</span>
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GuaranteePeriod)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GuaranteePeriod)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Math.Round(Model.Price, 2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RepairedModel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RepairedModel.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TypeOfFault)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeOfFault.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServicedStore)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServicedStore.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OrderId">Редактировать</a> |
    <a asp-action="Index">Вернуться назад</a>
</div>
