@model RepairServiceCenterASP.ViewModels.OrdersViewModels

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Заказы</h2>

<p>
    <a asp-action="Create">Добавить новый заказ</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().DateOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().ReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().FullNameCustumer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().GuaranteeMark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().GuaranteePeriod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().Price)
            </th>
            <th>
                Ремонтируемое оборудывание
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().TypeOfFault)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().ServicedStore)
            </th>
            <th>
                Сотрудник
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Orders)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOrder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReturnDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullNameCustumer)
                </td>
                <td>
                    @if ((bool)item.GuaranteeMark)
                    {
                        <span>Имеется</span>
                    }
                    else
                    {
                        <span>Отсутствует</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GuaranteePeriod)
                </td>
                <td>
                    @Math.Round(item.Price, 2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RepairedModel.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeOfFault.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServicedStore.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.FullName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.OrderId">Ред.</a><br>
                    <a asp-action="Details" asp-route-id="@item.OrderId">Детали</a><br>
                    <a asp-action="Delete" asp-route-id="@item.OrderId">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       class="btn btn-default btn">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       class="btn btn-default btn">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}